.t-prices {
  position: relative;
  z-index: 2;
  padding: 150px 0 100px;
  background: var(--bg-t-prices) center;
  background-size: cover;
}

.t-prices__table {
  font-size: 18px;
}

.t-prices__table table {
  width: 100%;
}

.t-prices__table tr:nth-child(2n+1) {
  background: #f9f9f9;
}

.t-prices__table td, .t-prices__table th {
  padding: 18px 65px;
  height: 85px;
  border-right: 1px solid #ccc;
  text-align: left;
}

.t-prices__table td:last-child, .t-prices__table th:last-child {
  width: 285px;
  border-right: none;
  white-space: nowrap;
}

.t-prices .action-box {
  margin-top: 60px;
}

.t-prices .action-box .btn {
  min-width: 310px;
}

@media only screen and (max-width: 1199px) {
  .t-prices {
    margin: 60px 0;
    padding: 0;
    background: none;
  }
  .t-prices .action-box {
    margin-top: 25px;
  }
  .t-prices__table td:first-child,
  .t-prices__table th:first-child {
    padding-left: 20px;
  }
  .t-prices__table td:last-child,
  .t-prices__table th:last-child {
    padding-right: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .t-prices .action-box {
    margin-top: 15px;
  }
  .t-prices__table {
    font-size: 16px;
  }
  .t-prices__table td,
  .t-prices__table th {
    padding: 15px;
  }
  .t-prices__table td:nth-child(n+2),
  .t-prices__table th:nth-child(n+2) {
    text-align: center;
  }
  .t-prices__table td:last-child,
  .t-prices__table th:last-child {
    width: 50%;
  }
}

@media only screen and (max-width: 575px) {
  .t-prices .action-box .btn {
    min-width: 0;
  }
  .t-prices__table {
    margin: 0 -15px;
    font-size: 14px;
  }
  .t-prices__table td,
  .t-prices__table th {
    padding: 15px !important;
  }
}
